@model EmlakProject.Models.UserModel

@{
    ViewBag.Title = "PersonalAccount";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Account</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
       
        <dt>
            @Html.DisplayNameFor(model => model.userFullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userFullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.userEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.userPassword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userPassword)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.userPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userPhone)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Inbox" , "Inbox"  , "Home" , new { id = Model.userId  }) |
	@Html.ActionLink("Sent"  , "Sent"   , "Home" , new { id = Model.userId  }) |
	@Html.ActionLink("Houses", "Houses" , "Home" , new { id = Model.userId  }) |
    @Html.ActionLink("Home", "Index")
</p>
